<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="header">
    <h1>Espaço Josy Miranda Estética</h1>
    <p class="subtitle">Sistema de Gestão de Clientes</p>
</div>

<h2>Cadastro de Clientes</h2>

<form method="POST">
    <input name="nome" placeholder="Nome" required>
    <input name="telefone" placeholder="Telefone" required>
    <button type="submit">Cadastrar</button>
</form>

<hr>

<h3 class="titulo">Clientes cadastrados</h3>

<div class="table-container">

<table class="tabela-clientes">

    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Ação</th>
    </tr>

    {% for c in clientes %}
<tr>
    <td>{{ loop.index }}</td>
    <td>{{ c[1] }}</td>
    <td>{{ c[2] }}</td>
    <td>
        <a class="btn-excluir" href="/delete/{{ c[0] }}">Excluir</a>
    </td>
</tr>
{% endfor %}

</table>

</div>

<br>

<a href="/logout">Sair</a>

</body>
</html>